name: Metrics
on:
  schedule: [{ cron: "0 0 * * *" }]
  workflow_dispatch:
  push: { branches: ["master", "main"] }
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: 'github-metrics.svg'
          template: classic
          base: header, activity, community, metadata
          config_timezone: Asia/Kolkata
          token: ${{ secrets.METRICS_TOKEN }}
